In [ ]:
import numpy as np
import pandas as pd



clean_path = "clean_data/findex_2021_clean_safe.csv"
df = pd.read_csv(clean_path)
df.head()

In [4]:
# summary by county

summary_country = (
    df.groupby("economy")
      .agg(
          n=("economy", "size"),
          pct_with_account=("account", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan),
          pct_with_digital_payment=("anydigpayment", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan)
      )
      .reset_index()
)

summary_country.to_csv("analysis/summary_by_country.csv", index=False)
summary_country.head()

       economy     n  pct_with_account  pct_with_digital_payment
0  Afghanistan  1002         11.776447                       NaN
1      Albania  1000         42.900000                       NaN
2      Algeria  1002         65.169661                       NaN
3    Argentina  1003         81.954138                       NaN
4      Armenia  1000         55.600000                       NaN

In [6]:
#gender
if "gender" in df.columns:
    summary_gender = (
        df.groupby("gender")
          .agg(
              n=("gender", "size"),
              pct_with_account=("account", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan),
              pct_with_digital_payment=("anydigpayment", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan)
          )
          .reset_index()
    )

    summary_gender.to_csv("analysis/summary_by_gender.csv", index=False)
    summary_gender

In [ ]:
#income quintile
if "income_quintile" in df.columns:
    summary_inc = (
        df.groupby("income_quintile")
          .agg(
              n=("income_quintile", "size"),
              pct_with_account=("account", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan),
              pct_with_digital_payment=("anydigpayment", lambda x: (x == "Yes").mean()*100 if "Yes" in x.values else np.nan)
          )
          .reset_index()
          .sort_values("income_quintile")
    )

    summary_inc.to_csv("analysis/summary_by_income_quintile.csv", index=False)
    summary_inc